body{
    margin: 0%;
    font-size: 'Courier New', Courier, monospace;
    
}
header{
    display: flex;
    align-items: center;
    padding: 20px;
    position: fixed;
    left:0%;
    right: 0%;
    top:0%;
    background-color:#a5a9af;
    border:solid 2px black;
}
header .table{
    padding-left: 20px;
            padding-right:30px;
            font-size: 30px;
            padding-top: 0px;
            
}
header .menu{
    width: 30px;
    height: 20px;
    display: flex;
    
}

.container{
    display: flex;
    height:100vh;
}
.container .leftside{
    flex: 1;
    background-color:#a5a9af;
    border:solid 2px black;

}
.container .rightside{
    
    flex: 1;
    background-color: #ddd;
    border:solid 2px black;
    display:flex;
    align-items:center;
    flex-direction: column;
    margin-top: 70px;
    
}
#img-redonda{

    margin-top: 100px;
    margin-left: 220px;
    background-color: #ddd;
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    width: 200px;
}
.name{
    text-align: left; 
    margin-left: 200px;
}

#redes{
            
    width: 400px;
    text-align: center;
    height: 80px;
    padding-bottom: 10px;
    margin-left: 300px;
}
.logotipo{
    width: 60px; height: 60px;
    padding: 40px;
}
#info{
    width: 650px;
    text-align:center;
    
}
footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}